<h1 class="animated fadeIn fast">Sobre Comics App</h1>
<hr>
<p class="animated fadeIn">Los comics son el producto de moda en Hollywood. Cuando se dieron cuenta del amplio material que tenían a disposición, a precios irrisorios, los señores de traje compraron y buscaron la vuelta para llevar al cine o la televisión cuanto superhéroe podían, sin importar si era un personaje interesante, adecuado, atractivo para la audiencia, o sólo Aquaman. Por eso ser conocedor de las historietas se hizo popular en los últimos tiempos, contrario a la figura del nerd que se tenía en otros tiempos (antes los nerds no tenían una Penny cerca suyo).
<br><br>
Por eso viene esta guía, con pequeños datos para saber algo más de Batman, qué carajo diferencia a DC de Marvel y quién mierda son los Guardianes de la Galaxia antes de que se estrene en los cines. Sin embargo debo protegerme antes de continuar: lo que sé de los cómics, lo sé de internet, y de buscar en los lugares adecuados. Así también, me centro en superhéroes y afines a la industria americana (con influencias británicas), por tanto no esperen ver manga, maus, ni el equivalente manga del hentai. Ahora, a conocer:

</p>
